* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

h3, h2, h1 {
    margin: 10px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.billet {
    border: 1px solid black;
    margin-bottom: 15px;
    gap: 7px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: fit-content;
}

.billet-hover {
    transition: all .5s ease;
}

.billet-hover:hover {
    transform: scale(1.05);
}

.billet-list>* {
    margin-bottom: 25px;
}

.billet-list h3 {
    font-size: 1.225rem;
}

.billet-link {
    display: block;
    text-decoration: none;
}

.billet-header {
    font-weight: 700;
    color: #AC1DE3;
    background-color: beige;
}

.billet-header h3 {
    margin: 0;
}

.billet-header *, .billet-content * {
    padding: 8px 15px;
}

.billet-content {
    display: flex;
    flex-direction: row;
}

#commentaire {
    display: none;
}

.billet-header h2 {
    font-size: 1.5rem;
}

.header, .billet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.billet-container {
    max-width: 75%;
    margin: 2rem auto 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.showBillet {
    margin: 4rem auto 2rem;
    min-height: calc(100vh - 6rem);
    position: relative;
    padding: 0 7%;
}

#showComment {
    width: max-content;
}

.comments {
    max-width: 600px;
    border-bottom: 2px black solid;
    margin-bottom: 35px;
}

.comments-header {
    font-weight: 800;
}

#commentaire {
    margin-bottom: 50px;
}

.billet-admin {
    gap: 30px;
    margin: 15px;
    display: flex;
}

table {
    width: 60%;
    margin: auto;
}

th {
    text-align: start;
}

form div {
    display: flex;
    gap: 15px;
}

.requete {
    background: #f1f1f1;
    width: 60%;
    padding: 15px;
    margin: auto;
}

.requete h1 {
    text-align: center;
}

.requete-form {
    display: flex;
    flex-direction: column;

}